@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .title {
    color: white;
    font-weight: 600;
  }

  .secondary-text {
    color: #6A717E;
    font-weight: 500;
  }

  .third-text{
    color: #9297A0;
  }
}